              
<footer class=" bg-featured-1 grid padded-l padded-r padded-t-1 ">

    <!-- First Column: Logo + Motivational Quote -->
    <div class="col-12 grid padded-b padded-t ">
      <div class="col-12 typed-container">

        <div id="typed-strings">
          <span>< Stay positive. Work hard. Make it happen. ></span>
        </div>

        <span id="typed" class="handritten featured-text"></span>
      </div>
    </div>

    <div class="col-12">
      <nav>
        <a href="index.html#intro">Startseite</a>
        <a href="/impressum">Impressum</a>
        <a href="/data-privacy">Datenschutzerklärung</a>
      </nav>
    </div>
  </footer>

  <!-- Copyright-->
  <div class="bg-featured-1 white-text center padded-b-1">
    <span class="small-text"><i class="far fa-copyright subtle"></i>&nbsp; Chiara Müller - Web Design & Web Development</span>
  </div>